<h5>Register Artisans</h5>

<div class="col-sm-4 col-md-8" border="3px solid black">
  <form class="col-sm-4 col-md-8" action="/add-artisans/{{id}}" method="POST">
      <div class="form-group">
         <label for="name">Name :</label>
         <input type="text" class="form-control" id="name" name="name">
       </div>
       <div class="form-group">
         <label for="contacts">Contact :</label>
         <input type="contacts" class="form-control" id="contacts" name="contacts">
       </div>
       <div class="form-group">
         <label for="address">Address :</label>
         <input type="text" class="form-control" id="address" name="address">
       </div>
       <div class="form-group">
         <label for="job_title">Job Title :</label>
         <input type="text" class="form-control" id="job_title" name="job_title">
       </div>
       <div class="form-group">
         <label for="img">Image</label>
         <input type="img" id="img" name="img">
       </div>
       <button type="submit" class="button-group">Submit</button>
  </form>
 </div>

 
