<h5 style="small-6 column">View artisans</h5>
<div class="border">
  <table class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Contact</th>
        <th>Address</th>
        <th>Type</th>
      </tr>
      </thead>
      <tbody>
        {{#each artisans}}
      <tr>
        <td>{{name}}</td>
        <td>{{tel_number}}</td>
        <td>{{address}}</td>
        <td>{{type}}</td>
      </tr>
        {{/each}}
      </tbody>
    </table>
  </table>
</div>
